{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to Readit Book Store. 25% off for all titles with free delivery...
    {% endif %}
{% endblock %}


{% block title %}
    {% if category %}
        {{ category.name }} - Readit Book Store
    {% else %}
        Readit Book Store
    {% endif %}
{% endblock %}


{% block content %}
{% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx_auto">


            <p> <a href="{% url 'ecartapp:allProdCat' %}">Book Collections</a></p>
        </div>
            </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="100px;" height="100px;">
</div>
    <br>
<div>
        <h1 class="text-center my_title"> {{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
        <div>
            <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Collection of Books" width="1500px;" height="600px;">
        </div>
        <br>
<div>
    <h1 class="text-center my_title"> Collection of Books</h1>
    <p class="text-justify"> Readit works to connect readers with independent booksellers all over the world.
We believe local bookstores are essential community hubs that foster culture, curiosity, and a love of reading,
        and we're committed to helping them thrive.

Every purchase on the site financially supports independent bookstores. Our platform gives independent bookstores
        tools to compete online and financial support to help them maintain their presence in local communities.</p>

</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12  col-md-12 col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="200px;" height="180px;"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}" >{{pg}}</a>
            {% endfor %}

        </div>
        {% endif %}
    </div>
    <br>
</div>
</div>

{% endblock %}
